/node_modules/
/lib/
/test/

# top level source
edit-map.js
edit-map.js.map
edit-map.d.ts
edit-map.d.ts.map
maploader.d.ts.map
maploader.d.ts
maploader.js
maploader.js.map
docs/edit-map.bundled.js
config.js
config.d.ts.map
config.js.map
config.d.ts
